@tailwind base;
@tailwind components;
@tailwind utilities;

.message-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.message-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.message-exit {
  transform: translateX(0);
  opacity: 1;
}
.message-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
